.wraper-learning{
    width:100vw;
    height: 100vh;
    background-color: gray;
    text-shadow: 5px 3px 5px #101010;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    background: url(../img/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.control-icon{
    font-size: 25px;
    margin-left: 200px;
    position: absolute;
}
.control-icon1{
    font-size: 25px;
    
}
.thongtin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: url(../img/content.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.thongtin-anh img{
    border-radius: 10rem;
    width: 10rem;
    height: 10rem;
    justify-content: center;
    margin-top: 5px;
}
@media(max-width: 1300px){
    .control-icon{
        margin-left: 150px;
    }
}
@media(max-width: 1100px){
	.thongtin-anh img{
		width: 8rem;
        height: 8rem;
	}
    .thongtin-text{
        font-size: 12px;
    }
    .thongtin-text h4{
        font-size: 15px;
    }
    .wraper-learning{
        height: auto;
    }
}
@media(max-width: 980px){
	.thongtin-anh img{
		width: 6rem;
        height: 6rem;
	}
    .thongtin-text{
        font-size: 10px;
    }
    .thongtin-text h4{
        font-size: 12px;
    }
    .wraper-learning{
        height: auto;
    }
    .thongtin{
        height: 140vh;
    }
}
@media(max-width: 850px){
	.thongtin-anh img{
		width: 6rem;
        height: 6rem;
	}
    .thongtin-text{
        font-size: 10px;
    }
    .thongtin-text h4{
        font-size: 12px;
    }
    .wraper-learning{
        height: auto;
    }
    .thongtin{
        height: 140vh;
    }
}
@media(max-width: 760px){
    .thongtin{
        width: 100vw;
        height: 60vh;
    }
	.thongtin-anh img{
		width: 10rem;
        height: 10rem;
	}
    .thongtin-text{
        font-size: 15px;
    }
    .thongtin-text h4{
        font-size: 20px;
    }
    .khoahoc{
        width: 100vw;
    }
    .wraper-learning{
        height: auto;
    }
    
}

.thongtin-text{
    margin-top: -80px;
    justify-content: center;
}
.thongtin-logout{
    margin-bottom: 50px;
}

.search{
    height: 10vh;
}

.search-input{
    width: 60%;
}
.search-select{
    width: 130%;
}
@media(max-width: 570px){
    .search-input{
        width: 100%;
    }
    .search-select{
        width: 100%;
    }
}
.page{
    display: flex;
    justify-content: center;
    text-shadow: none;
    margin-top: 20px;
}

