.card{
    color: white;
    width: 80%;
    height: auto;
    background-color: rgb(46, 43, 43);
    border: solid 2px black;
    background: url(../img/content.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.card-test{
    display: flex;
    justify-content: center;
    
}
.tieude{
    display: flex;
    justify-content: space-between;
}
.start{
    margin-top: 20px;
    height: 100%;
}

